
######################
# IntelliJ
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/


######################
# Maven
######################
/log/
/target/


######################
# Mac OSX
######################
.DS_Store